<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Facebook"
      >
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a
        href="https://www.instagram.com/Binay_sharma25"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/binaykumar25"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <div class="f-info-brand">&copy; Dream-Nest Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
